<section class="banner-container">
  <div class="container-content">
    <h1 class="welcome">Descubra o seu Sabor</h1>
    <p class="subtitle">Sua loja única para as melhores cervejas artesanais.</p>
    <p class="subtitle">Explore nossa seleção e encontre a sua favorita!</p>
    <p class="subtitle">Aproveite a experiência BrewHaven.</p>
    <button
      class="explore-button"
      matButton="filled"
      mat-raised-button
      color="primary"
    >
      Conhecer Cardápio
    </button>
  </div>
  <img
    src="../../../../assets/image/beer_shop_banner.png"
    alt="Banner de Cervejas"
    class="banner-image"
  />
</section>
